In [1]:
import pandas as pd

In [2]:
HeroInfo = pd.read_csv("../data/HeroInfo.csv",encoding='utf-8')

In [3]:
HeroInfo.head()

,Name,Character Score,Intelligence,Strength,Speed,Durability,Power,Combat,FullName,AlterEgos,...,Alignment,Gender,Race,Height,Weight,EyeColor,HairColor,SkinColor,Occupation,Base
0,Zoom,9,50,10,100,30,100,30,Hunter Zolomon,Zoom (CW),...,bad,Male,-,6'1 // 185 cm,181 lb // 81 kg,Red,Brown,-,-,"Keystone City, Kansas"
1,Zatanna,10,85,10,25,30,100,60,Zatanna Zatara,No alter egos found.,...,good,Female,Human,5'7 // 170 cm,127 lb // 57 kg,Blue,Black,-,-,-
2,Yoda,13,90,55,35,25,100,90,Yoda,No alter egos found.,...,good,Male,Yoda's species,2'2 // 66 cm,38 lb // 17 kg,Brown,White,Green,-,-
3,Ymir,11,50,100,30,100,100,30,Ymir,No alter egos found.,...,good,Male,Frost Giant,1000 // 304.8 meters,- lb // 0 kg,White,No Hair,White,-,Niffleheim
4,Yellowjacket II,4,50,10,35,30,35,30,Rita DeMara,No alter egos found.,...,good,Female,Human,5'5 // 165 cm,115 lb // 52 kg,Blue,Strawberry Blond,-,"Adventurer; former criminal, electronics engineer",New York City area

In [4]:
HeroInfo.shape

(748, 24)

In [5]:
HeroInfo.count()

Name               748
Character Score    742
Intelligence       742
Strength           742
Speed              742
Durability         742
Power              742
Combat             742
FullName           742
AlterEgos          742
Aliases            742
PlaceOfBirth       742
FirstAppearance    742
Publisher          724
Alignment          742
Gender             742
Race               742
Height             742
Weight             742
EyeColor           742
HairColor          742
SkinColor          742
Occupation         742
Base               742
dtype: int64

In [6]:
HeroInfo.get_dtype_counts()

object    24
dtype: int64

In [7]:
HeroInfo.shape

(748, 24)

In [8]:
for i in range(0,748) :
    a = HeroInfo.iloc[i].str.replace('-','NaN')
    HeroInfo.iloc[i] = a

In [9]:
HeroInfo = HeroInfo.fillna('NaN')

In [10]:
HeroInfo.head()

,Name,Character Score,Intelligence,Strength,Speed,Durability,Power,Combat,FullName,AlterEgos,...,Alignment,Gender,Race,Height,Weight,EyeColor,HairColor,SkinColor,Occupation,Base
0,Zoom,9,50,10,100,30,100,30,Hunter Zolomon,Zoom (CW),...,bad,Male,NaN,6'1 // 185 cm,181 lb // 81 kg,Red,Brown,NaN,NaN,"Keystone City, Kansas"
1,Zatanna,10,85,10,25,30,100,60,Zatanna Zatara,No alter egos found.,...,good,Female,Human,5'7 // 170 cm,127 lb // 57 kg,Blue,Black,NaN,NaN,NaN
2,Yoda,13,90,55,35,25,100,90,Yoda,No alter egos found.,...,good,Male,Yoda's species,2'2 // 66 cm,38 lb // 17 kg,Brown,White,Green,NaN,NaN
3,Ymir,11,50,100,30,100,100,30,Ymir,No alter egos found.,...,good,Male,Frost Giant,1000 // 304.8 meters,NaN lb // 0 kg,White,No Hair,White,NaN,Niffleheim
4,Yellowjacket II,4,50,10,35,30,35,30,Rita DeMara,No alter egos found.,...,good,Female,Human,5'5 // 165 cm,115 lb // 52 kg,Blue,Strawberry Blond,NaN,"Adventurer; former criminal, electronics engineer",New York City area

In [11]:
HeroInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 24 columns):
Name               748 non-null object
Character Score    748 non-null object
Intelligence       748 non-null object
Strength           748 non-null object
Speed              748 non-null object
Durability         748 non-null object
Power              748 non-null object
Combat             748 non-null object
FullName           748 non-null object
AlterEgos          748 non-null object
Aliases            748 non-null object
PlaceOfBirth       748 non-null object
FirstAppearance    748 non-null object
Publisher          748 non-null object
Alignment          748 non-null object
Gender             748 non-null object
Race               748 non-null object
Height             748 non-null object
Weight             748 non-null object
EyeColor           748 non-null object
HairColor          748 non-null object
SkinColor          748 non-null object
Occupation         748 non-null object
Base               748 non-null object
dtypes: object(24)
memory usage: 140.3+ KB

In [12]:
HeroInfo.columns

Index(['Name', 'Character Score', 'Intelligence', 'Strength', 'Speed',
       'Durability', 'Power', 'Combat', 'FullName', 'AlterEgos', 'Aliases',
       'PlaceOfBirth', 'FirstAppearance', 'Publisher', 'Alignment', 'Gender',
       'Race', 'Height', 'Weight', 'EyeColor', 'HairColor', 'SkinColor',
       'Occupation', 'Base'],
      dtype='object')

In [13]:
cols = ['Character Score', 'Intelligence', 'Strength', 'Speed','Durability', 'Power', 'Combat']

In [14]:
for c in cols :
    HeroInfo[c] = HeroInfo[c].astype('float')
    HeroInfo[c] = HeroInfo[c].fillna(0)

In [15]:
HeroInfo.dtypes

Name                object
Character Score    float64
Intelligence       float64
Strength           float64
Speed              float64
Durability         float64
Power              float64
Combat             float64
FullName            object
AlterEgos           object
Aliases             object
PlaceOfBirth        object
FirstAppearance     object
Publisher           object
Alignment           object
Gender              object
Race                object
Height              object
Weight              object
EyeColor            object
HairColor           object
SkinColor           object
Occupation          object
Base                object
dtype: object

In [16]:
HeroInfo.isnull().sum()

Name               0
Character Score    0
Intelligence       0
Strength           0
Speed              0
Durability         0
Power              0
Combat             0
FullName           0
AlterEgos          0
Aliases            0
PlaceOfBirth       0
FirstAppearance    0
Publisher          0
Alignment          0
Gender             0
Race               0
Height             0
Weight             0
EyeColor           0
HairColor          0
SkinColor          0
Occupation         0
Base               0
dtype: int64

In [17]:
HeroInfo.memory_usage(deep=True)

Index                 80
Name               49543
Character Score     5984
Intelligence        5984
Strength            5984
Speed               5984
Durability          5984
Power               5984
Combat              5984
FullName           52073
AlterEgos          58121
Aliases            66023
PlaceOfBirth       50584
FirstAppearance    62910
Publisher          51190
Alignment          45490
Gender             45997
Race               46552
Height             52004
Weight             53732
EyeColor           45777
HairColor          46223
SkinColor          45022
Occupation         62680
Base               60463
dtype: int64

In [18]:
help(HeroInfo.filter)

Help on method filter in module pandas.core.generic:

filter(items=None, like=None, regex=None, axis=None) method of pandas.core.frame.DataFrame instance
    Subset rows or columns of dataframe according to labels in
    the specified index.

    Note that this routine does not filter a dataframe on its
    contents. The filter is applied to the labels of the index.

    Parameters
    ----------
    items : list-like
        List of info axis to restrict to (must not all be present)
    like : string
        Keep info axis where "arg in col == True"
    regex : string (regular expression)
        Keep info axis with re.search(regex, col) == True
    axis : int or string axis name
        The axis to filter on.  By default this is the info axis,
        'index' for Series, 'columns' for DataFrame

    Returns
    -------
    same type as input object

    Examples
    --------
    >>> df
    one  two  three
    mouse     1    2      3
    rabbit    4    5      6

    >>> # select columns by name
    >>> df.filter(items=['one', 'three'])
    one  three
    mouse     1      3
    rabbit    4      6

    >>> # select columns by regular expression
    >>> df.filter(regex='e$', axis=1)
    one  three
    mouse     1      3
    rabbit    4      6

    >>> # select rows containing 'bbi'
    >>> df.filter(like='bbi', axis=0)
    one  two  three
    rabbit    4    5      6

    See Also
    --------
    pandas.DataFrame.loc

    Notes
    -----
    The ``items``, ``like``, and ``regex`` parameters are
    enforced to be mutually exclusive.

    ``axis`` defaults to the info axis that is used when indexing
    with ``[]``.

In [19]:
HeroInfo.shape

(748, 24)

In [20]:
a = HeroInfo.filter(items=[ 'Character Score', 'Intelligence',
                           'Strength','Speed','Durability','Power','Combat'])

In [21]:
a.shape

(748, 7)

In [22]:
a.head()

   Character Score  Intelligence  Strength  Speed  Durability  Power  Combat
0              9.0          50.0      10.0  100.0        30.0  100.0    30.0
1             10.0          85.0      10.0   25.0        30.0  100.0    60.0
2             13.0          90.0      55.0   35.0        25.0  100.0    90.0
3             11.0          50.0     100.0   30.0       100.0  100.0    30.0
4              4.0          50.0      10.0   35.0        30.0   35.0    30.0

In [46]:
a.sort_values(['Character Score'],ascending=False).head()

     Character Score  Intelligence  Strength  Speed  Durability  Power  Combat
74             231.0         100.0     100.0  100.0       100.0  100.0   100.0
236            185.0         100.0     100.0  100.0       100.0  100.0   100.0
313            175.0         100.0     100.0  100.0       100.0  100.0   100.0
330            128.0         100.0     100.0  100.0       100.0  100.0    30.0
119            108.0          90.0     100.0  100.0       100.0  100.0    70.0

In [24]:
a.nlargest(100, 'Character Score')

     Character Score  Intelligence  Strength  Speed  Durability  Power  Combat
74             231.0         100.0     100.0  100.0       100.0  100.0   100.0
236            185.0         100.0     100.0  100.0       100.0  100.0   100.0
313            175.0         100.0     100.0  100.0       100.0  100.0   100.0
330            128.0         100.0     100.0  100.0       100.0  100.0    30.0
119            108.0          90.0     100.0  100.0       100.0  100.0    70.0
742            103.0         100.0     100.0   85.0       100.0  100.0    55.0
203             90.0         100.0      15.0   20.0       100.0  100.0    40.0
477             80.0          65.0      80.0   50.0        60.0  100.0    50.0
473             74.0         100.0     100.0   85.0       100.0  100.0    50.0
221             71.0         100.0      10.0   25.0       100.0  100.0    40.0
716             70.0          90.0     100.0   50.0       100.0  100.0    90.0
241             68.0         100.0      85.0   70.0        95.0  100.0    90.0
56              67.0          90.0     100.0   85.0       100.0  100.0    80.0
667             58.0         100.0     100.0  100.0       100.0  100.0    85.0
280             54.0         100.0      85.0  100.0       100.0  100.0    50.0
77              51.0         100.0     100.0   35.0       100.0  100.0    80.0
542             51.0          90.0     100.0   85.0       100.0  100.0    95.0
513             48.0         100.0     100.0   45.0       100.0  100.0    45.0
133             47.0          60.0     100.0  100.0        90.0  100.0    35.0
220             47.0         100.0     100.0   85.0       100.0  100.0    80.0
337             40.0          50.0     100.0   45.0        30.0  100.0    75.0
596             37.0          85.0      95.0   85.0        90.0  100.0    80.0
159             35.0          90.0      85.0   35.0       100.0  100.0    70.0
728             35.0          65.0     100.0   85.0       100.0  100.0   100.0
514             33.0          90.0      95.0   85.0       100.0  100.0    80.0
522             31.0          85.0      20.0   25.0        80.0  100.0    50.0
72              30.0          70.0     100.0   85.0       100.0  100.0   100.0
713             30.0         100.0     100.0   35.0       100.0  100.0    60.0
88              28.0          95.0     100.0  100.0       100.0  100.0    85.0
494             27.0          90.0      85.0   85.0       100.0  100.0    60.0
..               ...           ...       ...    ...         ...    ...     ...
481             16.0          90.0      50.0  100.0        60.0  100.0    60.0
665             16.0          90.0     100.0   80.0       100.0  100.0   100.0
87              15.0          90.0      95.0   25.0       100.0  100.0    55.0
352             15.0          85.0      90.0   55.0        45.0  100.0    80.0
394             15.0         100.0      85.0   60.0        85.0  100.0    65.0
431             15.0          75.0      10.0   25.0        10.0  100.0    50.0
443             15.0          70.0      90.0   75.0        80.0  100.0    70.0
459             15.0          45.0     100.0   55.0       100.0  100.0    20.0
493             15.0          90.0      95.0   75.0       100.0  100.0    90.0
573             15.0          90.0     100.0   90.0        80.0   80.0    95.0
590             15.0          85.0      90.0   75.0        95.0  100.0    90.0
610             15.0         100.0      95.0   65.0        90.0   60.0    75.0
735             15.0          50.0      85.0  100.0        85.0  100.0    40.0
303             14.0          75.0      95.0   85.0        85.0  100.0    70.0
710             14.0          85.0      85.0   80.0        80.0  100.0    80.0
733             14.0          50.0      80.0   45.0        90.0  100.0    50.0
2               13.0          90.0      55.0   35.0        25.0  100.0    90.0
7               13.0          90.0      55.0   55.0        95.0  100.0    85.0
12              13.0          75.0     100.0   55.0        90.0   65.0    65.0
34              13.0         100.0      75.0   55.0        95.0  100.0    70.0
91              13.0          75.0      95.0   85.0        90.0   95.0    60.0
143             13.0          85.0     100.0   45.0       100.0   40.0    70.0
421             13.0          75.0     100.0   75.0        90.0   75.0    85.0
439             13.0          70.0      90.0   50.0        60.0  100.0    60.0
497             13.0          65.0      85.0   30.0        30.0  100.0    70.0
614             13.0          70.0      85.0   45.0        70.0  100.0    40.0
666             13.0          90.0     100.0   60.0        75.0   30.0    55.0
28              12.0          65.0      80.0   65.0       100.0  100.0    85.0
71              12.0          75.0      85.0   70.0        85.0  100.0    70.0
80              12.0          75.0      65.0   30.0        85.0  100.0    80.0

[100 rows x 7 columns]

In [25]:
HeroInfo.nlargest(100, 'Character Score').nsmallest(10,'Combat')

,Name,Character Score,Intelligence,Strength,Speed,Durability,Power,Combat,FullName,AlterEgos,...,Alignment,Gender,Race,Height,Weight,EyeColor,HairColor,SkinColor,Occupation,Base
459,Godzilla,15.0,45.0,100.0,55.0,100.0,100.0,20.0,NaN,No alter egos found.,...,bad,NaN,Kaiju,354'4 // 108.0 meters,"200000000 lb // 90,000 tons",NaN,NaN,Grey,NaN,NaN
706,Ardina,21.0,65.0,100.0,100.0,80.0,100.0,25.0,NaN,No alter egos found.,...,good,Female,Alien,6'4 // 193 cm,218 lb // 98 kg,White,Orange,Gold,NaN,NaN
330,Living Tribunal,128.0,100.0,100.0,100.0,100.0,100.0,30.0,NaN,No alter egos found.,...,neutral,NaN,Cosmic Entity,NaN // 0 cm,NaN lb // 0 kg,Blue,No Hair,Gold,NaN,NaN
646,Black Flash,18.0,45.0,10.0,100.0,80.0,100.0,30.0,NaN,No alter egos found.,...,neutral,Male,God / Eternal,NaN // 0 cm,NaN lb // 0 kg,NaN,NaN,NaN,NaN,NaN
133,Silver Surfer,47.0,60.0,100.0,100.0,90.0,100.0,35.0,Norrin Radd,Fallen One,...,good,Male,Alien,6'4 // 193 cm,225 lb // 101 kg,White,No Hair,Silver,"Adventurer, formerly Galactus' Herald",mobile throughout the universe
203,Q,90.0,100.0,15.0,20.0,100.0,100.0,40.0,NaN,No alter egos found.,...,NaN,Male,God / Eternal,NaN // 0 cm,NaN lb // 0 kg,NaN,NaN,NaN,NaN,NaN
221,Phantom Stranger,71.0,100.0,10.0,25.0,100.0,100.0,40.0,NaN,No alter egos found.,...,neutral,Male,Human,6'2 // 188 cm,185 lb // 83 kg,Black,Black,NaN,NaN,NaN
150,Sentry,23.0,75.0,100.0,100.0,85.0,100.0,40.0,Robert Reynolds,Death Seed Sentry,...,neutral,Male,Mutant,6'2 // 188 cm,194 lb // 87 kg,Blue,Blond,NaN,NaN,"The Watchtower (on top of Stark Tower, where i..."
735,AirNaNWalker,15.0,50.0,85.0,100.0,85.0,100.0,40.0,Gabriel Lan,No alter egos found.,...,bad,Male,NaN,6'2 // 188 cm,240 lb // 108 kg,Blue,White,NaN,"Former starship captain, Herald of Galactus",NaN
614,Booster Gold,13.0,70.0,85.0,45.0,70.0,100.0,40.0,Michael Jon Carter,No alter egos found.,...,good,Male,Human,6'5 // 196 cm,215 lb // 97 kg,Blue,Blond,NaN,"Superhero, Founder, C.E.O & Chairman of Booste...","Metropolis, Earth, 21st Century, formerly Goth..."

In [26]:
HeroInfo.describe()

,Character Score,Intelligence,Strength,Speed,Durability,Power,Combat
count,748.000000,748.000000,748.000000,748.000000,748.000000,748.000000,748.000000
mean,8.847594,50.868984,33.790107,32.660428,46.370321,50.942513,48.262032
std,16.891520,32.792503,34.374893,27.566537,36.270596,37.694796,33.144862
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,25.000000,10.000000,10.000000,10.000000,15.000000,15.000000
50%,6.000000,60.000000,15.000000,30.000000,45.000000,50.000000,60.000000
75%,9.000000,75.000000,65.000000,50.000000,80.000000,90.000000,75.000000
max,231.000000,100.000000,100.000000,100.000000,110.000000,100.000000,105.000000

In [27]:
import numpy as np

In [28]:
HeroInfo.describe(include=[np.number])

,Character Score,Intelligence,Strength,Speed,Durability,Power,Combat
count,748.000000,748.000000,748.000000,748.000000,748.000000,748.000000,748.000000
mean,8.847594,50.868984,33.790107,32.660428,46.370321,50.942513,48.262032
std,16.891520,32.792503,34.374893,27.566537,36.270596,37.694796,33.144862
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,25.000000,10.000000,10.000000,10.000000,15.000000,15.000000
50%,6.000000,60.000000,15.000000,30.000000,45.000000,50.000000,60.000000
75%,9.000000,75.000000,65.000000,50.000000,80.000000,90.000000,75.000000
max,231.000000,100.000000,100.000000,100.000000,110.000000,100.000000,105.000000

In [29]:
np.object

object

In [30]:
HeroInfo.describe(include=[np.object]).T

                count unique                   top freq
Name              748    724         Green Lantern    7
FullName          748    548                   NaN  168
AlterEgos         748    136  No alter egos found.  608
Aliases           748    488                   NaN  256
PlaceOfBirth      748    243                   NaN  431
FirstAppearance   748    562                   NaN  143
Publisher         748     26         Marvel Comics  389
Alignment         748      4                  good  502
Gender            748      3                  Male  511
Race              748     64                   NaN  307
Height            748     71           NaN // 0 cm  221
Weight            748    171        NaN lb // 0 kg  241
EyeColor          748     25                  Blue  219
HairColor         748     31                   NaN  184
SkinColor         748     17                   NaN  675
Occupation        748    384                   NaN  312
Base              748    285                   NaN  393

In [31]:
ch_sco = HeroInfo.groupby('Character Score').mean().round(3)

In [32]:
ch_sco.shape

(52, 6)

In [33]:
HeroInfo['Combat'].isnull().sum()

0

In [34]:
HeroInfo.groupby('Name').std(ddof=0)['Combat'].head()

Name
3NaND Man      0.0
ANaNBomb       0.0
Abe Sapien     0.0
Abin Sur       0.0
Abomination    0.0
Name: Combat, dtype: float64

In [35]:
import numpy as np

In [36]:
def std(x): return np.std(x)

In [37]:
HeroInfo.groupby(['Name','FirstAppearance']).agg(['size','sum','mean',std]).head()

                                                      Character Score        \
                                                                 size   sum
Name        FirstAppearance
3NaND Man   NaN                                                     1   4.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)               1   9.0
Abe Sapien  Hellboy: Seed of Destruction                            1  10.0
Abin Sur    Showcase #22 (October, 1959)                            1   9.0
Abomination Tales to Astonish #90                                   1   8.0

                                                                 Intelligence  \
                                                       mean  std         size
Name        FirstAppearance
3NaND Man   NaN                                         4.0  0.0            1
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)   9.0  0.0            1
Abe Sapien  Hellboy: Seed of Destruction               10.0  0.0            1
Abin Sur    Showcase #22 (October, 1959)                9.0  0.0            1
Abomination Tales to Astonish #90                       8.0  0.0            1

                                                                        \
                                                        sum  mean  std
Name        FirstAppearance
3NaND Man   NaN                                        50.0  50.0  0.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)  40.0  40.0  0.0
Abe Sapien  Hellboy: Seed of Destruction               90.0  90.0  0.0
Abin Sur    Showcase #22 (October, 1959)               50.0  50.0  0.0
Abomination Tales to Astonish #90                      65.0  65.0  0.0

                                                      Strength        ...   \
                                                          size    sum ...
Name        FirstAppearance                                           ...
3NaND Man   NaN                                              1   35.0 ...
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)        1  100.0 ...
Abe Sapien  Hellboy: Seed of Destruction                     1   30.0 ...
Abin Sur    Showcase #22 (October, 1959)                     1   90.0 ...
Abomination Tales to Astonish #90                            1   80.0 ...

                                                      Durability      Power  \
                                                            mean  std  size
Name        FirstAppearance
3NaND Man   NaN                                             35.0  0.0     1
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)       80.0  0.0     1
Abe Sapien  Hellboy: Seed of Destruction                    65.0  0.0     1
Abin Sur    Showcase #22 (October, 1959)                    65.0  0.0     1
Abomination Tales to Astonish #90                           90.0  0.0     1

                                                                          \
                                                         sum   mean  std
Name        FirstAppearance
3NaND Man   NaN                                         25.0   25.0  0.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)   25.0   25.0  0.0
Abe Sapien  Hellboy: Seed of Destruction               100.0  100.0  0.0
Abin Sur    Showcase #22 (October, 1959)               100.0  100.0  0.0
Abomination Tales to Astonish #90                       65.0   65.0  0.0

                                                      Combat
                                                        size   sum  mean  std
Name        FirstAppearance
3NaND Man   NaN                                            1  55.0  55.0  0.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)      1  65.0  65.0  0.0
Abe Sapien  Hellboy: Seed of Destruction                   1  85.0  85.0  0.0
Abin Sur    Showcase #22 (October, 1959)                   1  65.0  65.0  0.0
Abomination Tales to Astonish #90                          1  95.0  95.0  0.0

[5 rows x 28 columns]

In [38]:
def nanstd(x): return np.nanstd(x)

In [39]:
HeroInfo.Power.value_counts()

0.0      171
100.0    165
30.0      37
55.0      37
60.0      30
50.0      29
25.0      27
70.0      26
75.0      25
40.0      25
45.0      24
35.0      23
90.0      19
65.0      19
85.0      18
80.0      18
20.0      17
95.0      15
15.0      12
10.0       8
5.0        3
Name: Power, dtype: int64

In [40]:
HeroInfo.groupby(['Power']).agg(['size','sum','mean',nanstd]).head()

      Character Score                           Intelligence         \
                 size   sum      mean    nanstd         size    sum
Power
0.0               171   3.0  0.017544  0.228744          171   40.0
5.0                 3   6.0  2.000000  0.000000            3   30.0
10.0                8  42.0  5.250000  2.861381            8  490.0
15.0               12  70.0  5.833333  1.343710           12  795.0
20.0               17  84.0  4.941176  1.433654           17  935.0

                            Strength           ...          Speed             \
            mean     nanstd     size    sum    ...           mean     nanstd
Power                                          ...
0.0     0.233918   3.049919      171   10.0    ...       0.029240   0.381240
5.0    10.000000   0.000000        3   30.0    ...      13.333333   2.357023
10.0   61.250000  34.072533        8   95.0    ...      26.875000  22.491318
15.0   66.250000  15.695674       12  380.0    ...      21.250000   6.166104
20.0   55.000000  20.364329       17  330.0    ...      34.411765  23.632129

      Durability                              Combat                     \
            size    sum       mean     nanstd   size     sum       mean
Power
0.0          171    5.0   0.029240   0.381240    171    10.0   0.058480
5.0            3   25.0   8.333333   4.714045      3   100.0  33.333333
10.0           8  155.0  19.375000  13.095204      8   195.0  24.375000
15.0          12  475.0  39.583333  25.121234     12   605.0  50.416667
20.0          17  630.0  37.058824  17.494438     17  1010.0  59.411765


          nanstd
Power
0.0     0.762480
5.0    18.856181
10.0   15.296548
15.0   24.448784
20.0   20.064774

[5 rows x 24 columns]

In [41]:
HeroInfo.groupby(['Name','EyeColor','HairColor']).describe().round(3).head()

                               Character Score                              \
                                         count  mean std   min   25%   50%
Name        EyeColor HairColor
3NaND Man   Brown    Grey                  1.0   4.0 NaN   4.0   4.0   4.0
ANaNBomb    Yellow   No Hair               1.0   9.0 NaN   9.0   9.0   9.0
Abe Sapien  Blue     No Hair               1.0  10.0 NaN  10.0  10.0  10.0
Abin Sur    Blue     No Hair               1.0   9.0 NaN   9.0   9.0   9.0
Abomination Green    No Hair               1.0   8.0 NaN   8.0   8.0   8.0

                                           Combat        ...   Speed        \
                                 75%   max  count  mean  ...     75%   max
Name        EyeColor HairColor                           ...
3NaND Man   Brown    Grey        4.0   4.0    1.0  55.0  ...    45.0  45.0
ANaNBomb    Yellow   No Hair     9.0   9.0    1.0  65.0  ...    20.0  20.0
Abe Sapien  Blue     No Hair    10.0  10.0    1.0  85.0  ...    35.0  35.0
Abin Sur    Blue     No Hair     9.0   9.0    1.0  65.0  ...    55.0  55.0
Abomination Green    No Hair     8.0   8.0    1.0  95.0  ...    55.0  55.0

                               Strength                                  \
                                  count   mean std    min    25%    50%
Name        EyeColor HairColor
3NaND Man   Brown    Grey           1.0   35.0 NaN   35.0   35.0   35.0
ANaNBomb    Yellow   No Hair        1.0  100.0 NaN  100.0  100.0  100.0
Abe Sapien  Blue     No Hair        1.0   30.0 NaN   30.0   30.0   30.0
Abin Sur    Blue     No Hair        1.0   90.0 NaN   90.0   90.0   90.0
Abomination Green    No Hair        1.0   80.0 NaN   80.0   80.0   80.0


                                  75%    max
Name        EyeColor HairColor
3NaND Man   Brown    Grey        35.0   35.0
ANaNBomb    Yellow   No Hair    100.0  100.0
Abe Sapien  Blue     No Hair     30.0   30.0
Abin Sur    Blue     No Hair     90.0   90.0
Abomination Green    No Hair     80.0   80.0

[5 rows x 56 columns]

In [42]:
HeroInfo.groupby(['Name','FirstAppearance']).describe().round(3).fillna(0).head()

                                                      Character Score        \
                                                                count  mean
Name        FirstAppearance
3NaND Man   NaN                                                   1.0   4.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)             1.0   9.0
Abe Sapien  Hellboy: Seed of Destruction                          1.0  10.0
Abin Sur    Showcase #22 (October, 1959)                          1.0   9.0
Abomination Tales to Astonish #90                                 1.0   8.0

                                                                              \
                                                       std   min   25%   50%
Name        FirstAppearance
3NaND Man   NaN                                        0.0   4.0   4.0   4.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)  0.0   9.0   9.0   9.0
Abe Sapien  Hellboy: Seed of Destruction               0.0  10.0  10.0  10.0
Abin Sur    Showcase #22 (October, 1959)               0.0   9.0   9.0   9.0
Abomination Tales to Astonish #90                      0.0   8.0   8.0   8.0

                                                                  Combat  \
                                                        75%   max  count
Name        FirstAppearance
3NaND Man   NaN                                         4.0   4.0    1.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)   9.0   9.0    1.0
Abe Sapien  Hellboy: Seed of Destruction               10.0  10.0    1.0
Abin Sur    Showcase #22 (October, 1959)                9.0   9.0    1.0
Abomination Tales to Astonish #90                       8.0   8.0    1.0

                                                             ...   Speed  \
                                                       mean  ...     75%
Name        FirstAppearance                                  ...
3NaND Man   NaN                                        55.0  ...    45.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)  65.0  ...    20.0
Abe Sapien  Hellboy: Seed of Destruction               85.0  ...    35.0
Abin Sur    Showcase #22 (October, 1959)               65.0  ...    55.0
Abomination Tales to Astonish #90                      95.0  ...    55.0

                                                            Strength         \
                                                        max    count   mean
Name        FirstAppearance
3NaND Man   NaN                                        45.0      1.0   35.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)  20.0      1.0  100.0
Abe Sapien  Hellboy: Seed of Destruction               35.0      1.0   30.0
Abin Sur    Showcase #22 (October, 1959)               55.0      1.0   90.0
Abomination Tales to Astonish #90                      55.0      1.0   80.0

                                                                          \
                                                       std    min    25%
Name        FirstAppearance
3NaND Man   NaN                                        0.0   35.0   35.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)  0.0  100.0  100.0
Abe Sapien  Hellboy: Seed of Destruction               0.0   30.0   30.0
Abin Sur    Showcase #22 (October, 1959)               0.0   90.0   90.0
Abomination Tales to Astonish #90                      0.0   80.0   80.0


                                                         50%    75%    max
Name        FirstAppearance
3NaND Man   NaN                                         35.0   35.0   35.0
ANaNBomb    Hulk Vol 2 #2 (April, 2008) (as ANaNBomb)  100.0  100.0  100.0
Abe Sapien  Hellboy: Seed of Destruction                30.0   30.0   30.0
Abin Sur    Showcase #22 (October, 1959)                90.0   90.0   90.0
Abomination Tales to Astonish #90                       80.0   80.0   80.0

[5 rows x 56 columns]

In [43]:
HeroInfo.shape

(748, 24)

In [44]:
HeroInfo.pivot_table(index='Power',aggfunc=np.mean)

,Character Score,Combat,Durability,Intelligence,Speed,Strength
Power,,,,,,
0.0,0.017544,0.058480,0.029240,0.233918,0.029240,0.058480
5.0,2.000000,33.333333,8.333333,10.000000,13.333333,10.000000
10.0,5.250000,24.375000,19.375000,61.250000,26.875000,11.875000
15.0,5.833333,50.416667,39.583333,66.250000,21.250000,31.666667
20.0,4.941176,59.411765,37.058824,55.000000,34.411765,19.411765
25.0,5.000000,57.592593,37.962963,55.000000,28.148148,26.296296
30.0,5.891892,66.486486,42.972973,62.432432,32.432432,29.324324
35.0,6.130435,56.739130,48.695652,65.434783,35.000000,35.000000
40.0,6.720000,65.200000,59.600000,65.200000,34.000000,42.600000
45.0,6.166667,64.583333,53.750000,64.166667,30.000000,33.541667
50.0,6.586207,70.517241,51.896552,66.206897,39.482759,36.896552
55.0,6.081081,57.972973,55.000000,59.189189,32.837838,33.783784
60.0,6.833333,58.333333,49.666667,67.500000,31.833333,27.666667
65.0,6.894737,61.578947,54.736842,64.473684,37.894737,34.736842
70.0,6.038462,59.423077,52.692308,56.923077,38.076923,32.307692
75.0,7.720000,67.800000,67.800000,66.200000,49.800000,47.200000
80.0,7.500000,59.722222,54.444444,62.500000,47.500000,32.500000
85.0,8.333333,63.888889,70.833333,60.000000,49.166667,56.111111
90.0,8.315789,62.894737,62.631579,65.526316,45.789474,41.842105
95.0,8.200000,60.000000,58.666667,64.000000,37.666667,44.666667
100.0,23.848485,66.727273,81.333333,75.060606,57.878788,67.090909

In [45]:
HeroInfo.pivot_table(index=['Power','EyeColor'],aggfunc=np.mean)

                    Character Score      Combat  Durability  Intelligence  \
Power EyeColor
0.0   Black                0.000000    0.000000    0.000000      0.000000
      Blue                 0.090909    0.303030    0.151515      1.212121
      Brown                0.000000    0.000000    0.000000      0.000000
      Green                0.000000    0.000000    0.000000      0.000000
      Grey                 0.000000    0.000000    0.000000      0.000000
      Hazel                0.000000    0.000000    0.000000      0.000000
      NaN                  0.000000    0.000000    0.000000      0.000000
      Red                  0.000000    0.000000    0.000000      0.000000
      White                0.000000    0.000000    0.000000      0.000000
5.0   Brown                2.000000   40.000000    5.000000     10.000000
      NaN                  2.000000   20.000000   15.000000     10.000000
10.0  Black                2.000000   15.000000   10.000000     25.000000
      Blue                 5.500000   47.500000   10.000000     70.000000
      Brown                9.000000   15.000000   15.000000    100.000000
      NaN                  5.000000   17.500000   27.500000     56.250000
15.0  Blue                 5.666667   51.666667   40.833333     65.000000
      Brown                4.666667   70.000000   25.000000     55.000000
      NaN                  7.000000   20.000000   47.500000     82.500000
      Red                  8.000000   45.000000   60.000000     75.000000
20.0  Blue                 5.625000   66.875000   34.375000     65.625000
      Brown                6.000000   55.000000   70.000000     60.000000
      Green                4.000000   50.000000   32.500000     37.500000
      NaN                  4.000000   53.333333   18.333333     45.000000
      White                4.000000   60.000000   50.000000     50.000000
      Yellow               4.000000   30.000000   45.000000     40.000000
      blue                 5.000000   70.000000   70.000000     50.000000
25.0  Blue                 5.333333   67.500000   37.500000     63.333333
      Brown                4.285714   61.428571   36.428571     51.428571
      Green                6.250000   60.000000   45.000000     63.750000
      NaN                  4.285714   44.285714   34.285714     50.000000
...                             ...         ...         ...           ...
85.0  Yellow              11.000000   75.000000   85.000000     50.000000
90.0  Black                8.000000   40.000000   90.000000     50.000000
      Blue                 9.200000   67.000000   75.000000     69.500000
      Brown                8.000000   60.000000   40.000000     72.500000
      Green                8.333333   73.333333   75.000000     71.666667
      Hazel                6.000000   35.000000   10.000000     65.000000
      NaN                  4.000000   40.000000   10.000000     10.000000
      brown                7.000000   70.000000   25.000000     65.000000
95.0  Black                7.000000   30.000000  100.000000     10.000000
      Blue                 8.666667   67.500000   73.333333     64.166667
      Green                9.000000   72.500000   27.500000     80.000000
      Grey                11.000000   80.000000   85.000000     90.000000
      NaN                  6.500000   70.000000   35.000000     57.500000
      Purple               6.000000   20.000000   22.500000     55.000000
      blue                10.000000   60.000000   85.000000     90.000000
100.0 Black               29.750000   65.625000   91.875000     81.250000
      Blue                23.980392   65.980392   76.862745     76.568627
      Bown                11.000000   60.000000   55.000000     60.000000
      Brown               12.450000   65.500000   80.250000     69.750000
      Gold                13.000000   70.000000   95.000000    100.000000
      Green               13.785714   60.357143   72.142857     71.785714
      Green / Blue        40.000000   75.000000   30.000000     50.000000
      Grey                27.000000   60.000000   85.000000    100.000000
      NaN                 34.642857   71.785714   86.071429     72.857143
      Red                 20.850000   68.000000   92.250000     78.250000
      White               33.000000   53.888889   92.222222     75.555556
      Yellow              27.625000   76.250000   75.625000     76.875000
      Yellow / Red        10.000000  100.000000   30.000000     60.000000
      blue                18.000000   75.000000  100.000000     95.000000
      brown                8.000000   60.000000   65.000000     65.000000

                         Speed    Strength
Power EyeColor
0.0   Black           0.000000    0.000000
      Blue            0.151515    0.303030
      Brown           0.000000    0.000000
      Green           0.000000    0.000000
      Grey            0.000000    0.000000
      Hazel           0.000000    0.000000
      NaN             0.000000    0.000000
      Red             0.000000    0.000000
      White           0.000000    0.000000
5.0   Brown          15.000000   10.000000
      NaN            10.000000   10.000000
10.0  Black          10.000000   20.000000
      Blue           20.000000   10.000000
      Brown          25.000000   10.000000
      NaN            35.000000   11.250000
15.0  Blue           20.000000   25.000000
      Brown          25.000000   41.666667
      NaN            17.500000   12.500000
      Red            25.000000   80.000000
20.0  Blue           35.625000   16.875000
      Brown          50.000000   45.000000
      Green          60.000000    7.500000
      NaN            18.333333   10.000000
      White          25.000000   35.000000
      Yellow         25.000000   55.000000
      blue           25.000000   15.000000
25.0  Blue           25.000000   22.500000
      Brown          30.000000   25.000000
      Green          30.000000   43.750000
      NaN            29.285714   14.285714
...                        ...         ...
85.0  Yellow         50.000000  100.000000
90.0  Black          50.000000   90.000000
      Blue           54.000000   46.500000
      Brown          40.000000   12.500000
      Green          43.333333   43.333333
      Hazel          25.000000   10.000000
      NaN            10.000000   10.000000
      brown          35.000000   65.000000
95.0  Black          15.000000   95.000000
      Blue           62.500000   57.500000
      Green          20.000000   45.000000
      Grey           30.000000   80.000000
      NaN            25.000000   15.000000
      Purple         12.500000   10.000000
      blue           30.000000   10.000000
100.0 Black          72.500000   81.250000
      Blue           58.333333   65.588235
      Bown           45.000000   90.000000
      Brown          50.750000   55.500000
      Gold           55.000000   75.000000
      Green          53.928571   58.571429
      Green / Blue   45.000000  100.000000
      Grey           15.000000   10.000000
      NaN            60.714286   66.071429
      Red            53.750000   79.500000
      White          68.333333   84.444444
      Yellow         59.375000   63.750000
      Yellow / Red   50.000000   50.000000
      blue          100.000000  100.000000
      brown          50.000000   10.000000

[157 rows x 6 columns]